<h1>Dashboard</h1>

<div class="container-inner">

  <!-- tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#my-gifts" role="tab" data-toggle="tab">My Gifts</a></li>
    <li><a href="#my-requests" role="tab" data-toggle="tab">My Requests</a></li>
    <li><a href="#my-requests" role="tab" data-toggle="tab">Profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="my-gifts">
      <br>
      <% current_user.gifts.each do | gift| %>
        <div class="row">
          <div class="col-xs-2 ">
            <!-- should be using link_to helper here -->
            <a href="/gifts/<%= gift.id %>">
              <%= gift.title %>
            </a>
          </div>
          <div class="col-xs-10 ">
            <em><%= gift.description %></em>
          </div>      
        </div>  
        <br>    
      <% end %>   

    </div>      
  

    <div class="tab-pane" id="my-requests">  
      <br>
            <% current_user.requests.each do | request | %>
              <div>
                <a href="/gifts/<%= request.gift.id %>">
                  <%= request.gift.title %>
                </a>
              </div>
            <% end %>      

    </div>
</div>
