<h1>Dashboard#listed</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "Stuff I'm giving away", dashboard_listed_path %></li>
  <li><%= link_to "Stuff I've asked for", dashboard_requested_path %></li>
  <li><a href="#">Messages</a></li>
</ul>
<br>

<div id="dashboard-inner">

<% current_user.gifts.each do | gift| %>
      <div>
        <a href="/gifts/<%= gift.id %>">
          <%= gift.title %>
          <%= gift.description %>
        </a>
      </div>
  <% end %>

</div>  