<%= form_for(@gift) do |f| %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% @gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      
      <div class="field, form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control"  %>
      </div>

      <div class="field, form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      
      <div class="field form-group">
        <%= f.label :gifts_type %><br>
        <%= f.text_field :gifts_type, placeholder: "Is it Eadible, Wearable or Useable?", class: "form-control" %>
      </div>
      
      <div class="field form-group">
        <%= f.label :comments %><br>
        <%= f.text_area :comments, placeholder: "Additonal information",class: "form-control" %>
      </div>
      
      <div class="actions">
        <%= f.submit class: 'btn btn-info'%>
      </div>
      
    </div>
  </div>
<% end %>
