<h1>Browse gifts</h1>
<br>

<div class="container-inner">
  <% @gifts.each do | gift| %>
    <div class="gift">
      <a href="/gifts/<%= gift.id %>">
        <strong><%= gift.title %></strong>
        <em><%= gift.description %></em><br>
      </a>
      <div> user name <%= gift.user_id %> |  <%= link_to time_ago_in_words(gift.created_at) + " ago" , gift %>
      <a class="btn btn-inf pull-right" href="#" role="button">Enquire »</a>
      </div>   

      <% if gift.user == current_user %>
        <span class="admin">
          <%= link_to "Edit", edit_gift_path(gift) %> | 
        </span>
      <% end %>
      <hr>   
    </div>    
  <% end %>
  <hr>

  <div class="searchPane">
    <p>Filter: <input data-bind="value: filter, valueUpdate: 'afterkeydown'" /></p>
  </div>

  <div class="categoryPane">
    <div data-bind="visible: CategoryChoice">
      Choose a category of gift:
    <!--   <div><input type="checkbox" name="Category" value="Edible" data-bind="checked: giftEdible" /> Edible</div>
      <div><input type="checkbox" name="Category" value="Wearable" data-bind="checked: giftWearable" /> Wearable</div>
      <div><input type="checkbox" name="Category" value="Useable" data-bind="checked: giftUseable" /> Useable</div> -->
    </div>

  </div>


    <div class="browsePane" >
      <div data-bind="foreach: filteredgifts">
        <div  class="accordion" >
          <div class="giftHead" data-bind=" text: title"> 
          </div>
          <div class="pane">
            <p data-bind="text: title"></p>
            <p data-bind="text: description"></p>
          </div>

      </div>
      </div>
    </div>


  </div>






</div>


  
          <!-- <div class="btn pull-right">
            <div class: 'btn btn-info'>
          </div>   -->