<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gift.gifts_type %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @gift.comments %>
</p>

<p>
  <strong>Image:</strong>	
  <%= image_tag @gift.image.url %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
