<!DOCTYPE html>
<html>
<head>
  <title>GIFTeconomy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <div class="jumbotron">
      <div class="inner-container">
        <!-- <p class="notice"><%= notice %></p> --> <!-- devise configurations  -->
        <!-- <p class="alert"><%= alert %></p>  --><!-- devise configurations  -->
      
        <%= yield %> <!-- renders target page. -->
        
      </div>
    </div>
  </div>
</body>
</html>
