<!DOCTYPE html>
<html>
<head>
  <title>GIFTeconomy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <div class="jumbotron">
      <div class="inner-container">

        <% if notice %>
          <p class="notice alert alert-info"><%= notice %></p> <!-- devise configurations  -->
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p> <!-- devise configurations  -->
        <% end %>

        <!-- <p class="notice"><%= notice %></p> --> <!-- devise configurations  -->
        <!-- <p class="alert"><%= alert %></p>  --><!-- devise configurations  -->
      
        <%= yield %> <!-- renders target page. -->
        
      </div>
    </div>
  </div>
</body>
</html>
