<!DOCTYPE html>
<html>
<head>
  <title>GIFTeconomy</title>
  
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :head %>

</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <div class="jumbotron">
      <div class="inner-container">

        <% if notice %>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= notice %>
          </div>
          
          <!-- devise configurations  -->
        <% end %>
        <% if alert %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= alert %>
          </div>
        <% end %>

        <!-- <p class="notice"><%= notice %></p> --> <!-- devise configurations  -->
        <!-- <p class="alert"><%= alert %></p>  --><!-- devise configurations  -->
      
        <%= yield %> <!-- renders target page. -->
        
      </div>
    </div>
  </div>
</body>
</html>
